<!-- header section starts -->

<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
      <span class="navbar-brand">
        <img src="./assets/images/logo_copy.png" alt="" />
      </span>
      <div class="navbar-collapse" id="">
        <ul class="navbar-nav justify-content-between ">
          <div class="User_option">
            <li class="">
              <a class="mr-4" routerLink="/login">
                <span class="impBtn" >Login</span>
              </a>
              <a class="" routerLink="/signup">
                <span class="impBtn">Sign up</span>
              </a>
            </li>
          </div>
        </ul>

        <div class="custom_menu-btn" (click)="toggleNav()">
          <button>
            <span class="s-1"></span>
            <span class="s-2"></span>
            <span class="s-3"></span>
          </button>
        </div>
        <div id="myNav" class="overlay" [ngClass]="{'menu_width': menuWidth}">
          <div class="overlay-content">
            <span class="headMenuBtn">
              <a routerLink="/home" routerLinkActive="active" (click)="closeSlider()">HOME</a>
            </span>
            <span class="headMenuBtn">
              <a routerLink="/about" routerLinkActive="active" (click)="closeSlider()">ABOUT</a>
            </span>
            <span class="headMenuBtn">
              <a routerLink="/house" routerLinkActive="active" (click)="closeSlider()">HOUSE</a>
            </span>
            <span class="headMenuBtn">
              <a routerLink="/price" routerLinkActive="active" (click)="closeSlider()">PRICING</a>
            </span>
            <span class="headMenuBtn">
              <a routerLink="/contact" routerLinkActive="active" (click)="closeSlider()">CONTACT US</a>
            </span>
          </div>
          <!-- Move User_option inside overlay-content for smaller screens -->
          <div class="overlay-content">
            <span class="headMenuBtn">
              <span class="customImpBtn">
              <a class="" routerLink="/login" (click)="closeSlider()">
                  Login
                </a>
              </span>
              <span class="customImpBtn">
              <a class="" routerLink="/signup" (click)="closeSlider()">
                  Sign up
                </a>
              </span>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- end header section -->
