<style>
    body{
        background-color: antiquewhite;
    }
    .container{
       
        margin-top: 40px;
        padding: 40px;
        width: 500px;
        height: 500px
    }
</style>


<section class="">
    <div class="text-center" style="background-color: hsl(0, 0%, 96%)">
        <form class="container">
            <h1 class="my-4 display-5 fw-bold ls-tight">Please Login here</h1>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" placeholder="Enter you email" />
            </div>
        
            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" placeholder="Enter your password" />
            </div>
        
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
        
                <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Forgot password?</a>
                </div>
            </div>
        
            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
        
            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a routerLink="/signup">Register</a></p>
                
            </div>
        </form>
    </div>
</section>